#character {
    display: flex;
    justify-content: center;
}

#character .add #avatar {
    position: relative;
}

#character #list, #character .add {
    margin-top: 40px;
}

#character #list {
    display: flex;
}

#character #list .left {
    width: 350px;
    text-align: center;
}

#character #list .left button {
    width: 130px;
}

#character #list .left .fieldset, #list .right .fieldset {
    height: 550px;
}

#character #list .left .fieldset {
    overflow: auto;
}

#character #list .right > .fieldset {
    display: flex;
    justify-content: space-between;
}

#character #list .breed_class {
    cursor: pointer;
}

#character #list #story {
    width: 280px;
}
