#character {
    height: 400px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#character #init button {
    width: 180px;
    font-size: 1.5em;
}

#character #list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

#character #list .left {
    width: 350px;
    text-align: center;
}

#character #list .left button {
    width: 130px;
}

#character #list .left .fieldset, #list .right .fieldset {
    height: 550px;
}

#character #list .left .fieldset {
    overflow: auto;
}

#character #list .right > .fieldset {
    display: flex;
    justify-content: space-between;
}

#character #list .breed_class {
    cursor: pointer;
}

#character #list #story {
    width: 280px;
}
