#cabecalho{  
    width: 95%; 
    margin: 0 20px;
}
#menu{
    /*
    #float: right;
    #border: 1px solid red;
    #height: 40px;
    */
}
#rodape{
      width: 100%; 
      height: 58px; 
      background-color: darkslategrey;
      padding: 10px 5px;
      color: white;
      text-align: center;
}
.titulo{
    float: left;
    font-size: 28px;
    clear: left;
    #color: white;
}
.cor_1{
    color: red;
    font-size: 30px;
}
.tempo{
    float: right;
    color: yellow;
    #border: 1px solid yellow;
    overflow: hidden;
}
.lista{
    #width: 800px;
    #height: 50px;
    #padding: 5px 40px;
    #border: 1px solid red;
}
.lista fieldset{
    height: 1px;
    margin: auto;
    #border: 1px solid green;
}
.lista table{
    float: left;
    margin: 50px 45px;
}
.lista legend{
    font-size: 30px;
    color: brown;    
}
.pag{
    color: white;
    text-shadow: 2px 2px black;    
}
.bnt{
    font-size: 16px;
    cursor: pointer;
    font-family: arial;
    font-weight: 700;
    text-transform: uppercase;
    #border: none;
    padding: 1px;
    border-radius: 5px;
}
a:link{
    text-decoration: none;
}
.conteudo{
    #margin-left: 5px;
    font-family: sans-serif;
    height: 680px;
    font-size: 18px;
    width: 970px;
    #border: solid 1px red;
    margin: auto;
    #overflow: auto;
}
ul li{
    display: inline;
}
.ref{
    margin-left: 510px;
}
.l1{
    position: relative;
    top: 10px;
}
.SITE_ROOT {
  min-height: 100%;
  position: relative;
  margin: 0 auto; 
  width:980px;
  padding-bottom:40px;
}
.s6{
    left: 20px; 
    width: 940px; 
    position: absolute; 
    top: 164px; 
    height: 5px;
}
body{
    margin: 0;
    padding: 0;
    background-image: url('../imagens/Wiki-background.jpg');
    background-repeat: no-repeat;
    #background-position-x: 50%;
    #background-position-y: 25%;
    background-size: 100%;
    #color: white;
    #backface-visibility: hidden;
    #background-color: black;
}
/* aplica somente a partir de 320px */
/*@media screen and (min-width: 320px) {
   body { #font-size: 80%; }
}
 
/* aplica somente a partir de 480px em landscape */
/*@media screen and (min-width: 480px) and (orientation: landscape) {
   nav { #float: left; }
}*/
.rel{
    float: left;
    width: 470px;
    #margin: -20px 5px 0;
    #border: 1px solid green;
}
.rel th, .resumo th{
    background-color: green;
    color: white;
}
.rel td, .resumo td{
    background-color: white;
    opacity: 0.7;
    font-weight: bolder;
    font-size: 13px;
}
.resumo{
    float: right;
    width: 450px;
    margin: auto;
    #margin-left: 0;
    #border: 1px solid red;
}
.separa{
    background-color: blue;
}
.totais{
    background-color: darkgray;
}
    @media print {
  body * {
    visibility: hidden;
  }
  #printable, #printable * {
    visibility: visible;
  }
  #printable {
    position: absolute;
    #margin: auto;
    left: 30%;
    top: 30%;
  }
}
.lista, .ficha{
    width: 900px;
    height: 850px;
    #padding: 5px 40px;
}
.cad fieldset{
    width: 900px;
    height: 850px;
}
.cad table{
    margin: 0 80px;
}
.cad2 fieldset{
    width: 900px;
    margin: auto;
    height: 690px;
    #overflow: auto;
}
.cad3 fieldset, .cad4 fieldset, .cad5 fieldset{
    width: 900px;
    height: 800px;
    #padding: 5px 40px;
    #margin-top: 80px;
    #border: 1px solid red;
}
.cadficha{
    width: 900px;
    height: 850px;
    padding: 5px 40px;
}
/*.lista{
    border: 2px solid white;    
    background:rgba(255,255,255, 0.8);
    font-weight: bolder;
}*/
.disabled {
   pointer-events: none;
   cursor: default;
}
fieldset{
    border: 2px solid white;    
    background:rgba(255,255,255, 0.8);
    font-weight: bolder;
    height: 360px;
    width: 750px;
}
fieldset legend{
    font-size: 30px;
    color: brown;
}
.lista .raca{
    #position: absolute;
    font-family: 'Architects Daughter', cursive;
    float: right;
    left: 5px;
    color: white;
    text-shadow: 2px 2px black;
    #border: 1px solid red;
}
.texto{
    margin: 0px 80px;
}
.texto{
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    #position: absolute;
    #top: 380px;
    width: 600px;
    height: 200px;
    overflow: auto;
    #border: 5px solid green;
    #background-color: silver;
    text-justify: auto;
}
.botao{
    position: absolute;
    top: 500px;
    right: 100px;
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
.botao2{
    position: absolute;
    top: 500px;
    right: 180px;
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
.botao-verde{
    font-size: 16px;
    padding: 2px;
    background-color: #006000;
    color: white;
    box-shadow: 0 5px 0 #003f00;
    border-radius: 15px;
}
.botao-verde2{
    font-size: 16px;
    paddin: 2px;
    background-color: #006000;
    color: white;
    box-shadow: 0 5px 0 #003f00;
    border-radius: 15px;
}
.botao-verde:hover{
    background-color: #006000;
    color: white;
}
.botao-verde:active{
    font-size: 16px;
    paddin: 2px;
    background-color: #006000;
    color: white;   
    position: absolute;
    top: 505px;
    box-shadow: none;
}
.botao-verde2:active{
    font-size: 16px;
    paddin: 2px;
    background-color: #006000;
    color: white;   
    position: absolute;
    top: 505px;
    box-shadow: none;
}
.rolar{
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: arial;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    background-color: red;
    color: white;
}
.rolar-red{
    box-shadow: 0 5px 0 #bd0000;
}
.rolar:hover{
    background-color: #bd0000;
}
.rolar-red:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}
.t_dado{
    font-size: 20px;
    text-shadow: 2px 2px 2px white;
    color: red;
}
.dados{
    margin: 20px;   
}
#cadastro table tr td{
    padding: 2px;
}
.info{
    position: absolute;
    font-size: 12px;
    font-style: italic;
    color: red;
}
.paginacao{
    position: absolute;
    right: 30px;
    #float: right;
    #border: 1px solid red;
    #width: 200px;
    text-align: center;
}
.resultado{
    width: 200px;
    text-align: center;
    background:rgba(0,0,0, 0.3);
    color: white;
    text-shadow: 2px 2px 2px red;
    margin: auto;
    font-size: 30px;
}
.home h1{
    color: red;
}
.home{
    margin: auto;
    width: 800px;
    text-align: justify;
    background: rgba(0, 0, 0,0.5);
    border-radius: 5px;
    color: white;
    padding: 5px;
    height: 700px;
    #overflow: auto;
}
.home h1{
    text-align: center;
}
.home p { 
    text-indent: 50px;
    padding: 0px;
    width: 90%;
    margin: auto;
}
.nomes{
    background-color: gray;
    color: white;
    #font-family: Georgia;
    font-family: 'Kaushan Script', cursive;
}
.nomes2{
    background: rgba(255, 255, 255,0.5);
    text-align: center;
    font-family: courier;
    #color: silver;
}
.fichaTitulo, .cadTitulo{
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
}
.fichaTitulo{
    text-align: center;
    margin-left: 45px;
    #border: 1px solid maroon;
    #margin-top: 200px;
}
.destaque{
    font-size: 22px;
    color: red;
}
.ficha legend, .lista legend, .cad legend{
    font-family: 'Audiowide', cursive;  
}
.hTitulo{
    #float: right;
    position: absolute;
    font-family: 'Satisfy', cursive;
    #font-family: courier;
    font-size: 22px;
    top: 350px;
    left: 200px;
    #margin: -10px 80px;
}
.hTexto{ 
    #clear: both;
    float: right; 
    #position: relative;
    margin: -50px 20px;
    width: 360px;
    height: 200px;
    padding: 8px;
    overflow: auto;
    text-align: justify;
    #font-family: 'Satisfy', cursive;
    font-family: 'Architects Daughter', cursive;
    font-style: italic;
    font-size: 14px;
    text-indent: 30px; 
    background-color: rgba(255,235,205,0.5);
    border-radius: 20px;
}
.verFicha{
    font-size: 8px;
    font-style: italic;
    color: red;
}
.lista .raca, .atr{   
    font-family: courier;
}
.hLinhas{
    #position: relative;
    #top: -80px;
}
.escudo{
    position: absolute;
    top: 200px;
    left: 330px;
    #margin: -160px 200px;
    #margin-top: 20px;
    #border: 1px solid green;
}
.defesa{
    position: absolute;
    top: 215px;
    left: 355px;
    #margin: 90px 225px;
    font-size: 10px;
    #border: 1px solid red;
    #width: 100px;
}
#def{
    position: absolute;
    top: 13px;
    #left: 25px;
    #margin: 20px;
    #border: 1px solid red;
    font-size: 25px;
}
.habilidades{
    #position: absolute;
    #top: 640px;
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    width: 100%;
    #border: 1px solid cyan;
}
.equipamentos, .equipamentos th, .equipamentos td{
    border: 1px solid black;
    border-collapse: collapse;
}
.equipamentos th{
    color: white;
    background-color: green;
}
.tabelaFicha{
    float: left;
    width: 350px;
    margin: 20px 60px;
    #border: 1px solid blue;
}
.motivacao{
    #clear: both;
    #border: 1px solid green;
    float: right;
    height: 200px;
    width: 200px;
    margin-top: 60px;
}
.motivacaoTexto{ 
    text-align: justify;
    font-family: 'Satisfy', cursive;
    font-size: 12px;
    text-indent: 30px; 
    color: gray;
}
.historia{
    font-family: Times New Roman;
    font-size: 25px;
    margin: 20px;
    float: left;
    #border: 1px solid yellow;
}
.atributo{
    #margin: 100px 0;
    #border: 1px solid red;
}
.motivacaoJogador{
    color: red;
    #font-family: Georgia;
    font-family: 'Kaushan Script', cursive;
}
.cad legend span{
    font-size: 18px;
}
.bloco, .cadHistoria{
    #border: 1px solid red;
    margin: auto;
    background-color: rgba(255,235,205,0.5);
    box-shadow: 2px 2px 2px gray;
    padding: 3px;
}
.continua{
    position: relative;
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    color: white;
}
.continua-verde{
    background-color: #006000;
    box-shadow: 0 5px 0 #003f00;
}
.continua-verde:hover{
    background-color: #006000;
    color: white;
}
.continua-verde:active{
    font-size: 16px;
    padding: 2px;
    background-color: #006000;
    color: white;   
    position: relative;
    top: 5px;
    box-shadow: none;
}
.add{
    width: 500px;
    margin: 100px auto;
    text-align: right;
    color: white;
    text-shadow: 2px 2px 2px black;
    #background-color: rgba(0,0,255,0.5);
}
.addFim{
    width: 500px;
    margin: 100px auto;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
    #background-color: rgba(0,0,255,0.5);
}
.habLista{
    font-size: 13px;
    font-family: courier;
}
.cadHistoria{
    font-size: 15px;
    font-family: courier;
    width: 700px;
    font-style: italic;
}
.cad2Hab, .cad4Hab{
    font-size: 16px;
    padding: 0 4px;
    position: relative;
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    color: white;
}
.cad2Hab{
    top: 10px;
    left: 700px;    
}
.cad4Hab{
    top: 10px;
    left: 600px;    
}
.cad2Hab-verde, .cad4Hab-verde{
    background-color: #007c00;
    box-shadow: 0 5px 0 #003f00;
}
.cad2Hab-verde:hover, .cad4Hab-verde:hover{
    background-color: #006000;
    #color: white;
}
.cad2Hab-verde:active, .cad4Hab-verde:active{
    background-color: #006000;
    color: white;   
    position: relative;
    top: 15px;
    box-shadow: none;
}
.moeda{
	position: relative;
	top: -40px;
	clear: both;
	float: right;
}
.hab{
	text-align: center;
}
.dest{
	font-size: 30px;
	color: red;
}
/*.vantagens ul{
    font-size: 17px;
    text-align: left;
    #border: 1px solid red;
}
.vantagens, .desvantagens{
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    width: 280px;
}*/
.armamento1{
    margin-top: 80px; 
}
.cad3Hab{
    font-size: 16px;
    padding: 0 4px;
    position: relative;
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    top: 10px;
    left: 560px;
}
.cad3Hab-verde{
    background-color: #007c00;
    box-shadow: 0 5px 0 #003f00;
}
.cad3Hab-verde:hover{
    background-color: #006000;
    #color: white;
}
.cad3Hab-verde:active{
    background-color: #006000;
    color: white;   
    position: relative;
    top: 15px;
    box-shadow: none;
}
.cad3Atrib{
    #border: 1px solid red;
    margin: 0 25px;
    font-family: 'Indie Flower', cursive;
    #width: 500px;
}
.armas{
    #border: 1px solid red;
    position: relative;
    #top: 310px;
    #left: 450px;
    width: 360px;
    height: 210px;
    margin: auto;
}
.armasTitulo{
    #position: relative;
    margin: auto;
    #border: 1px solid red;
    width: 360px;
    #height: 210px;
    #top: 270px;
    #left: 545px;
}
.besta{
    position: relative;
    top: 50px;
}
.armabnt{
    margin-top: 50px;
}
.maisum{
    #border: 1px solid red;
    #color: red;
    width: 550px;
    margin: 100px auto;
    font-size: 25px;
    #text-shadow: 2px 2px 2px red;
    background:rgba(255,255,255, 0.8);
    box-shadow: 4px 4px 4px black;
}
.maisumbnt{
    position: absolute;
    left: 700px;
    top: 170px;
}
.armascorporais{
    #border: 1px solid red;
    margin-left: 80px;
}
/* CAD3 */
.Machadinha{
    position: absolute;
    top: 330px;
    left: 115px;
}
.MachadodeBatalha{
    position: absolute;
    top: 360px;
    left: 185px;
}
.MachadoPesado{
    position: absolute;
    top: 390px;
    left: 260px;
}
.Glaive{
    position: absolute;
    top: 490px;
    left: 325px;
}
.Alabarda{
    position: absolute;
    top: 540px;
    left: 395px;
}
.Adaga{
    position: absolute;
    top: 455px;
    left: 115px;
}
.EspadaCurta{
    position: absolute;
    top: 515px;
    left: 115px;
}
.Rapiera{
    position: absolute;
    top: 560px;
    left: 165px;
}
.Sabre{
    position: absolute;
    top: 615px;
    left: 165px;
}
.EspadaLonga{
    position: absolute;
    top: 665px;
    left: 130px;
}
.Cimitarra{
    position: absolute;
    top: 730px;
    left: 140px;
}
.Claymore{
    position: absolute;
    top: 790px;
    left: 160px;
}
.Bordão{
    position: absolute;
    top: 295px;
    left: 660px;
}
.Soqueira{
    position: absolute;
    top: 343px;
    left: 555px;
}
.Bico-de-Corvo{
    position: absolute;
    top: 403px;
    left: 510px;
}
.MaçaEstrela{
    position: absolute;
    top: 450px;
    left: 515px;
}
.MaçaLeve{
    position: absolute;
    top: 495px;
    left: 515px;
}
.MaçaPesada{
    position: absolute;
    top: 540px;
    left: 515px;
}
.Clava{
    position: absolute;
    top: 598px;
    left: 545px;
}
.Mangual{
    position: absolute;
    top: 668px;
    left: 575px;
}
.MartelodeGuerra{
    position: absolute;
    top: 720px;
    left: 605px;
}
.Marreta{
    position: absolute;
    top: 790px;
    left: 565px;
}
.Azagaia{
    position: absolute;
    top: 460px;
    left: 660px;
}
.Lança{
    position: absolute;
    top: 560px;
    left: 705px;
}
.Tridente{
    position: absolute;
    top: 580px;
    left: 763px;
}
.MarteloLucerno{
    position: absolute;
    top: 580px;
    left: 815px;
}
/* FIM CAD3 */
.nota{
    font-size: 10px;
    font-style: italic;
}
.descricao{
    #text-align: center;
    #font-family: 'Satisfy', cursive;
    font-family: 'Architects Daughter', cursive;
    font-style: italic;
    font-size: 14px;
    #border: 1px solid gray;
    border-radius: 5px;
    #box-shadow: -2px -2px 2px gray;
    width: 80%;
    margin: auto;
}
.dist{
    margin: 10px 100px;
}
/* cad4 */
.BestaPesada{
    position: absolute;
    top: 310px;
    left: 320px;
}
.BestaLeve{
    position: absolute;
    top: 460px;
    left: 280px;
}
.Prodd{
    position: absolute;
    top: 305px;
    left: 602px;
}
.ViroteComum{
    position: absolute;
    top: 410px;
    left: 512px;
}
.ViroteGarateia{
    position: absolute;
    top: 470px;
    left: 512px;
}
.Zarabatana{
    position: absolute;
    top: 580px;
    left: 512px;
}
.Balas{
    position: absolute;
    top: 640px;
    left: 627px;
}
.Funda{
    position: absolute;
    top: 750px;
    left: 660px;
}
.Fustíbalo{
    position: absolute;
    top: 745px;
    left: 755px;
}
.ArcoRecurvo{
    position: absolute;
    top: 875px;
    left: 225px;
}
.ArcoComposto{
    position: absolute;
    top: 900px;
    left: 335px;
}
.ArcoSimples{
    position: absolute;
    top: 923px;
    left: 440px;
}
.ArcodeGuerra{
    position: absolute;
    top: 1055px;
    left: 540px;
}
.Plumbata{
    position: absolute;
    top: 1055px;
    left: 720px;
}
.FlechaComum{
    position: absolute;
    top: 978px;
    left: 320px;
}
.FlechaGarateia{
    position: absolute;
    top: 1080px;
    left: 330px;
}
.ArmaduraSimples{
    position: absolute;
    top: 660px;
    left: 280px;
}
.ArmaduradeBatalha{
    position: absolute;
    top: 660px;
    left: 530px;
}
.ArmaduraCompleta{
    position: absolute;
    top: 660px;
    left: 700px;
}
/* fim cad4 */
/* Cad5 */
.TúnicaPesada{
    position: absolute;
    top: 1090px;
    left: 300px;
}
.EscudodeCorpo{
    position: absolute;
    top: 1080px;
    left: 435px;
}
.EscudoMédio{
    position: absolute;
    top: 950px;
    left: 550px;
}
.EscudoPequeno{
    position: absolute;
    top: 1105px;
    left: 620px;
}
.ArmaduradeCouro{
    position: absolute;
    top: 1100px;
    left: 780px;
}
/* fim CAD5 */
.conj{
    margin: 20px 0;
    float: left;
    #border: 1px solid red;
}
.conj2{
    margin: 160px 0;
    float: left;
    #border: 1px solid red;
}
/* CAD6 */
.Grimório{
    position: absolute;
    top: 500px;
    left: 100px;
}
.Cajado{
    position: absolute;
    top: 630px;
    left: 220px;
}
.Cajado_{
    position: absolute;
    top: 605px;
    left: 195px;
}
.Cetro{
    position: absolute;
    top: 650px;
    left: 360px;
}
.Cetro_{
    position: absolute;
    top: 672px;
    left: 355px;
}
.Missal{
    position: absolute;
    top: 500px;
    left: 465px;
}
.Varinha{
    position: absolute;
    top: 460px;
    left: 695px;
}
.OrbedeCristal{
    position: absolute;
    top: 590px;
    left: 620px;
}
.SímboloSagrado{
    position: absolute;
    top: 610px;
    left: 800px;
}
.Punhal{
    position: absolute;
    top: 730px;
    left: 720px;
}
.Punhal_{
    position: absolute;
    top: 722px;
    left: 665px;
}
.tipo{
    font-size: 10px;
    margin-left: 18px;
    color: red;
}
.conclui{
    #float: right;
    margin-left: 150px;
}
.sombra{
    box-shadow: 4px 4px 4px gray;
}
.equipamento{
    background-image: url('../imagens/fundo.png');
    background-size: 100% 100%;
    #border: 1px solid silver;
    box-shadow: 4px 4px 4px gray;
    /*position: absolute;
    top: 760px;
    left: 508px;*/
    width: 100%;
    height: 1200px;
    font-family: 'Architects Daughter', cursive;
    #font-size: 15px;
    #margin: 0 302px;
    text-align: center;
    padding-top: 40px;
}
.equiTitulo{
    /*position: relative;
    top: 702px;
    left: 508px;*/
    width: 400px;
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    margin: 0 32px;
    text-align: center;  
}
.equipamento .cont{
    margin: 120px 120px;
    #border: 1px solid red;
}
.equipamento .armamento1{
    #margin: 100px 50px;
    #border: 1px solid yellow;
}
.equipamento .foto{
    float: left;
    margin-top: 30px;
}
.equipamento .ver{
    float: left;
    font-size: 15px;
    #border: 1px solid gray;
    border-radius: 100px;
    box-shadow: -5px -5px 2px gray;
    -webkit-box-shadow: -5px -5px 2px gray;
    -moz-box-shadow: -5px -5px 2px gray;
    text-align: left;
    width: 230px;
    text-justify: auto;
    padding: 8px;
    #position: absolute;
}
.equipamento .armadura1{
    margin: 40px 50px;
    #border: 1px solid red;
}
.armadura1 .foto{
    float: left;
    #border: 1px solid green;
}
.armadura1 .ver{
    #clear: left;
    #float: left;
    font-size: 10px;
    #border: 1px solid red;
    text-align: left;
    #position: absolute;
    padding: 5px;
}
.equi2{
    font-size: 10px;
    margin-left: 20px;
}
.equi2 th{
    background-color: green;
    color: white;
}
.nomesArma{
    #margin: 0 20px;
    font-weight: 900;
    color: red;
}
.avatar{
    width: 800px;
    height: 900px;
    margin: auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background-image: url('../imagens/personagens/halfling/halflingFundo.png');
    background-repeat: no-repeat;
    border: 1px solid white;
}
.halfling1{
    position: absolute;
    top: 345px;
    left: 165px
}
.halfling2{
    position: absolute;
    top: 405px;
    left: 375px
}
.halfling3{
    position: absolute;
    top: 375px;
    left: 575px
}
.halfling4{
    position: absolute;
    top: 415px;
    left: 775px
}
.halfling5{
    position: absolute;
    top: 565px;
    left: 235px
}
.halfling6{
    position: absolute;
    top: 765px;
    left: 425px
}
.halfling7{
    position: absolute;
    top: 605px;
    left: 555px
}
.halfling8{
    position: absolute;
    top: 675px;
    left: 755px
}
.halfling9{
    position: absolute;
    top: 875px;
    left: 305px
}
.halfling10{
    position: absolute;
    top: 875px;
    left: 595px
}