body{
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: black;
  /*-webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  -ms-transition: opacity 1s;       
  transition: opacity 1s;
  opacity: 1;*/
}
#cabecalho{  
    width: 100%; 
    height: 85px;
    background: rgba(255,255,0,0.1);
    background: 10% url('../imagens/5.jpg');
}
#menu{
    width: 930px;
    margin: auto;
}
#menu ul li{
    display: inline;
}
#rodape{
      width: 100%; 
      height: 58px; 
      background-color: darkslategrey;
      padding: 10px 5px;
      color: white;
      text-align: center;
}
#logo{
    text-shadow: -1px -1px white, 1px 1px #333;
}
.conteudo{
    font-family: sans-serif;
    height: 680px;
    font-size: 18px;
    width: 970px;
    margin: auto;
}
.bnt{
    font-size: 16px;
    cursor: pointer;
    font-family: arial;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    border-radius: 5px;
    color: #d7edff;
}
.bnt:hover{
    background: #04191e;
    transition-property: all;
    transition-duration: 1s;
    color: white;
}
.bnt:ative{
    /*border: none;*/
}
.home{
    margin: auto;
    width: 970px;
    font-family: sans-serif;
    font-size: 18px;
    text-align: justify;
    background: rgba(0, 0, 0,0.5);
    border-radius: 5px;
    color: white;
    padding: 5px;
}
.home h1{
    text-align: center;
    color: red;
}
.home p { 
    text-indent: 50px;
    padding: 0px;
    width: 90%;
    margin: auto;
}
.titulo{
    float: left;
    font-size: 28px;
    clear: left;
}
.cor_1{
    color: red;
    font-size: 30px;
}
.tempo{
    position: absolute;
    /*float: right;*/
    top: 0px;
    right: 0px;
    color: yellow;
    /*overflow: hidden;*/ 
}
.sairMissao{
    margin-top: 5px;
    float: right;
    color: white;
    font-weight: 700;
}
.sairMissao{
    padding: 0 4px;
    position: relative;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
.sairMissao-verde{
    background-color: #007c00;
    box-shadow: 0 5px 0 #003f00;
}
.sairMissao:hover{
    background-color: #006000;
}
.sairMissao-verde:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}
.lista{
}
.lista fieldset{
    height: 300px;
    margin: auto;
}
.lista table{
    float: left;
    margin: 50px 30px;
}
.lista .raca{
    margin: auto;
    width: 90%;
    height: 200px;
}
.lista .foto{
    height: 200px;
    float: right;
}
.saudacao{
    clear: left;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    color: white;
    text-shadow: 2px 2px black;
}
.lista legend{
    font-size: 30px;
    color: brown;    
}
a:link{
    text-decoration: none;
}
.ref{
    margin-left: 510px;
}
.l1{
    position: relative;
    top: 10px;
}
.SITE_ROOT {
  min-height: 100%;
  position: relative;
  margin: 0 auto; 
  width:980px;
  padding-bottom:40px;
}
.s6{
    left: 20px; 
    width: 940px; 
    position: absolute; 
    top: 164px; 
    height: 5px;
}
.trs {
    -webkit-transition:all ease-out 0.5s;
    -moz-transition:all ease-out 0.5s;
    -o-transition:all ease-out 0.5s;
    -ms-transition:all ease-out 0.5s;
    transition:all ease-out 0.5s;
}
.w3-animate-fading{
    animation:fading 10s infinite;
}
@keyframes fading{
    0%{opacity:0}
    50%{opacity:1}
    100%{opacity:0}
}
/* aplica somente a partir de 320px */
/*@media screen and (min-width: 320px) {
   body { #font-size: 80%; }
}
 
/* aplica somente a partir de 480px em landscape */
/*@media screen and (min-width: 480px) and (orientation: landscape) {
   nav { #float: left; }
}*/
.rel{
    float: left;
    width: 470px;
}
.rel th, .resumo th{
    background-color: green;
    color: white;
}
.rel td, .resumo td{
    background-color: white;
    opacity: 0.7;
    font-weight: bolder;
    font-size: 13px;
}
.resumo{
    float: right;
    width: 450px;
    margin: auto;
}
.separa{
    background-color: blue;
}
.totais{
    background-color: darkgray;
}
    @media print {
  body * {
    visibility: hidden;
  }
  #printable, #printable * {
    visibility: visible;
  }
  #printable {
    position: absolute;
    left: 30%;
    top: 30%;
  }
}
.lista, .ficha{
    width: 900px;
    height: 850px;
}
.cad fieldset{
    width: 900px;
    height: 550px;
}
.cad legend span{
    font-size: 18px;
}
.cad table{
    margin: 0 80px;
}
.cad2 fieldset{
    width: 900px;
    margin: auto;
    height: 690px;
}
.cad2 .botao, .cad4 .botao, .cad5 .botao, .cad6 .botao, .cad7 .botao, .zera, .ouro{
    font-size: 16px;
    padding: 0 4px;
    position: relative;
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    color: white;
}
.cad2 .botao{
    top: 10px;
    left: 700px;    
}
.zera, .ouro{
    background-color: #007c00;
    padding: 5px;
}
.ok{
    margin-top: 5px;
    font-size: 10px;
}
.cad2 .botao-verde, .cad4 .botao-verde, .cad5 .botao-verde, .cad6 .botao-verde, .cad7 .botao-verde{
    background-color: #007c00;
    box-shadow: 0 5px 0 #003f00;
}
.cad2 .botao-verde:hover, .cad4 .botao-verde:hover, .cad5 .botao-verde:hover, .cad6 .botao-verde:hover, .cad7 .botao-verde:hover, .zera:hover, .ouro:hover{
    background-color: #006000;
}
.cad2 .botao-verde:active{
    background-color: #006000;
    color: white;   
    position: relative;
    top: 15px;
    box-shadow: none;
}
.zera, .ouro{
    position: relative;
    box-shadow: 0 5px 0 #003f00;
}
.zera:active, .ouro:active{   
    position: relative;
    top: 5px;
    box-shadow: none;  
}
.cad4 .botao{
    position: relative;
    top: -10px;
    float: right;
    margin-right: 5px;
}
.cad4 .botao:active{   
    position: relative;
    top: -5px;
    box-shadow: none;    
}
.cad5 .botao{
    float: right;
    top: 10px;
    margin-right: 5px;
}
.cad6 .botao{
    float: right;
    top: -60px;
    margin-right: 5px;
}
.cad7 .botao{
    float: right;
    top: 10px;
    margin-right: 5px;
}
.cad5 .botao:active{   
    position: relative;
    top: 15px;
    box-shadow: none;    
}
.cad6 .botao:active{   
    position: relative;
    top: -55px;
    box-shadow: none;    
}
.cad7 .botao:active{   
    top: 15px;
    box-shadow: none;    
}
.cad3 .botao{
    font-size: 16px;
    padding: 0 4px;
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    position: relative;
    top: -10px;
    float: right;
}
.cad3 .botao2{
    font-size: 16px;
    padding: 0 4px;
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    color: white;
    position: relative;
    top: -10px;
    float: right;
    margin-right: 5px;
}
.cad3 .botao-verde{
    background-color: #007c00;
    background-color: green;
    box-shadow: 0 5px 0 #003f00;
}
.cad3 .botao-verde:hover{
    background-color: #006000;
}
.cad3 .botao-verde:active{
    background-color: #006000;
    color: white;   
    position: relative;
    top: -5px;
    box-shadow: none;
}
.cad3 .botao-verde2{
    background-color: #007c00;
    background-color: green;
    box-shadow: 0 5px 0 #003f00;
}
.cad3 .botao-verde2:hover{
    background-color: #006000;
}
.cad3 .botao-verde2:active{
    background-color: #006000;
    color: white;   
    position: relative;
    top: -5px;
    box-shadow: none;
}
.cad3Atrib{
    margin: 0 25px;
    font-family: 'Indie Flower', cursive;
}
.cad3 fieldset{
    width: 900px;
    height: 830px;
}
.cad4 fieldset, .cad5 fieldset{
    width: 900px;
    height: 1100px;
}
.cad6 fieldset{
    width: 900px;
    height: 750px;
}
.cad7 fieldset{
    width: 900px;
    height: 2400px;
}
.fichaTitulo, .cadTitulo{
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
}
.cad2 table, .cadHistoria{
    margin: auto;
    background-color: rgba(255,235,205,0.4);
    box-shadow: 2px 2px 2px gray;
    padding: 3px;
    font-size: 13px;
    font-weight: 700;
    font-family: courier;
}
.humanoAtrib{
    width: 650px;
    margin: 20%;
}
.maisum{
    width: 650px;
    font-size: 25px;
    background:rgba(255,255,255, 0.8);
    box-shadow: 4px 4px 4px black;
    border-radius: 10px;
    padding: 2px 5px;
    font-family: courier;
}
.maisumbnt{
    float: right;
}
.disabled {
   pointer-events: none;
   cursor: default;
}
fieldset{
    border: 2px solid white;    
    background:rgba(255,255,255, 0.8);
    font-weight: bolder;
    height: 360px;
    width: 750px;
}
fieldset legend{
    font-size: 30px;
    color: brown;
}
.tempo iframe{
    border-left: 2px solid white;
    border-radius: 0 0 0 100px;
    width: 280px; 
    height: 83px;
}
.saudacao1{
    position: absolute;
    top: 3px;
    right: 10px;
    font-weight: 900;
    font-style: italic;
    font-size: 18px;
    /*text-shadow: 2px -2px 0.5px white, 2px -2px 0.5px black;
    text-shadow: 1px 1px white, -1px -1px #333;*/ 
    text-shadow: -1px -1px white, 1px 1px #333;
}
.semPersonagem{
    position: relative;
    top: 50px;
    color: red;
}
.cadraca{
    font-family: 'Architects Daughter', cursive;
    clear: both;
    float: right;
    color: white;
    text-shadow: 2px 2px black;
}
.cadraca img{
    height: 250px;
}
.texto{
    margin: 0px 80px;
}
.texto{
    font-family: 'Satisfy', cursive;
    font-size: 20px;
    position: absolute;
    top: 390px;
    margin-left: 180px;
    width: 500px;
    height: 200px;
    overflow: auto;
    text-justify: auto;
}
.cadbnt{
    /*border: 1px solid red;*/
}
.cad .bnt_{
    float: right;
}
.cad .botao{
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 0 8px;
}
.cad .botao2{
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 0 10px;
}
.cad .botao-verde{
    font-size: 16px;
    background-color: #006000;
    color: white;
    box-shadow: 0 5px 0 #003f00;
    border-radius: 15px;
}
.cad .botao-verde2{
    font-size: 16px;
    background-color: #006000;
    color: white;
    box-shadow: 0 5px 0 #003f00;
    border-radius: 15px;
}
.cad .botao-verde:hover, .cad .botao-verde2:hover{
    background-color: #003f00;
    color: white;
}
.cad .botao-verde:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}
.cad .botao-verde2:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}
.add{
    width: 500px;
    margin: 100px auto;
    text-align: right;
    color: white;
    text-shadow: 2px 2px 2px red;
}
.rolar{
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: arial;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: white;
}
.rolar-red{
    background-color: red;
    box-shadow: 0 5px 0 #bd0000;
}
.rolar:hover{
    background-color: #bd0000;
}
.rolar-red:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}
.t_dado{
    font-size: 20px;
    text-shadow: 2px 2px 2px white;
    color: red;
}
.dados{
    margin: 20px;   
}
.dado{
    position: absolute;
    top: 0px;
    margin-left: 100px;
    width: 800px;
    #right: 0px;
    #border: 1px solid red;
}
.dado iframe{
    width: 600px; 
    height: 90px;
    #background: rgba(0,0,0,0.3);
}
#cadastro table tr td{
    padding: 2px;
}
.info{
    position: absolute;
    font-size: 12px;
    font-style: italic;
    color: red;
}
.paginacao{
    position: relative;
    right: 40px;
    top: 30px;
    float: right;
    text-align: center;
}
.pag{
    color: white;
    text-shadow: 2px 2px black; 
    font-size: 13px;
    font-style: italic;
}
.resultado{
    width: 200px;
    text-align: center;
    background:rgba(0,0,0, 0.3);
    color: white;
    text-shadow: 2px 2px 2px red;
    margin: auto;
    font-size: 30px;
}
.nomes{
    background-color: gray;
    color: white;
    font-family: 'Kaushan Script', cursive;
}
.nomes2{
    background: rgba(255, 255, 255,0.5);
    text-align: center;
    font-family: courier;
}
.fichaTitulo{
    text-align: center;
    margin-left: 45px;
}
.destaque{
    font-size: 22px;
    color: red;
}
.ficha legend, .lista legend, .cad legend{
    font-family: 'Audiowide', cursive;  
}
.verFicha{
    font-size: 8px;
    font-style: italic;
    color: red;
}
.lista .raca, .atr{   
    font-family: courier;
}
.hLinhas{
}
.equipamentos, .equipamentos th, .equipamentos td{
    border: 1px solid black;
    border-collapse: collapse;
}
.equipamentos th{
    color: white;
    background-color: green;
}
.bau{
    float: left;
    margin-left: 700px;
}
.habilidades{
    font-family: 'Architects Daughter', cursive;
    font-size: 18px;
    width: 100%;
    float: left;
}
.cadficha{
    width: 900px;
    height: 540px;
    border-radius: 10px;
}
.tabEscAvaMot{
    width: 100%;
    height: 200px;
}
.tabelaFicha{
    float: left;
    margin: 20px 50px;
    padding-right: 30px;
}
.tabelaMissao{
    float: left;
    margin: 20px 50px;
}
.motivacaoJogador{
    color: red;
    font-family: 'Kaushan Script', cursive;
}
.motivacao{
    float: right;
    height: 200px;
    width: 230px;
}
.motivacaoTexto{ 
    text-align: justify;
    font-family: 'Satisfy', cursive;
    font-size: 15px;
    text-indent: 30px; 
    color: gray;
}
.fichaAvatar{
    float: left;
    height: 220px;
    position: relative;
    z-index: 1;
}
.fichaAvatar img{
}
.escudo{
    float: left;
}
.defesa{
    position: relative;
    top: -60px;
    left: 35px;
    font-size: 10px;
}
#def{
    position: absolute;
    top: 13px;
    font-size: 25px;
}
.historia{
    font-family: Times New Roman;
    font-size: 25px;
    margin: -60px 50px;
    float: left;
    height: 200px;
}
.hTitulo{
    font-family: 'Satisfy', cursive;
    font-size: 22px;
    margin-left: 100px;
    float: left;
}
.hTexto{ 
    position: relative;
    width: 350px;
    height: 200px;
    padding: 8px;
    overflow: auto;
    text-align: justify;
    font-family: 'Architects Daughter', cursive;
    font-style: italic;
    font-size: 14px;
    text-indent: 30px; 
    background-color: rgba(255,235,205,0.5);
    border-radius: 20px;
}
.atributo{
    float: right;
    margin-right: 40px;
    width: 350px;
}
.equipamento{
    width: 100%;
    height: 1200px;
    font-family: 'Architects Daughter', cursive;
    text-align: center;
    position: relative;
}
.tudo{
    background-image: url('../imagens/fundo.png');
    background-size: 100% 100%;
    border-radius: 20px;
    width: 103%;
    height: 1500px;
    margin-top: 330px;
    margin-left: -12px;
    padding-top: 160px;
}
.equipamento .cont{
}
.equipamento .armamento1{
}
.equipamento .foto{
    float: left;
    margin-top: 30px;
}
.equipamento .ver{
    font-size: 15px;
    border-radius: 100px;
    box-shadow: -5px -5px 2px gray;
    -webkit-box-shadow: -5px -5px 2px gray;
    -moz-box-shadow: -5px -5px 2px gray;
    text-align: left;
    text-justify: auto;
    padding: 8px;
}
.equipamento .armas1{
    margin-left: 110px;
    float: left;
    position: relative;
    top: 50px;
    width: 380px;
}
.armadura1{
    float: right;
    margin-top: 50px;
    width: 390px;
}
.armadura1 .ver{
}
.equipamento table{
    margin-top: 40px;
    float: left;
    width: 760px;
    margin-left: 120px;
    background: rgba(255, 255, 255, 0.5);
    font-size: 15px;
}
.continua{
    position: relative;
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    color: white;
}
.continua-verde{
    background-color: #006000;
    box-shadow: 0 5px 0 #003f00;
}
.continua-verde:hover{
    background-color: #006000;
    color: white;
}
.continua-verde:active{
    font-size: 16px;
    padding: 2px;
    background-color: #006000;
    color: white;   
    position: relative;
    top: 5px;
    box-shadow: none;
}
.addFim{
    width: 500px;
    margin: 100px auto;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.cadHistoria{
    font-size: 15px;
    font-family: courier;
    width: 700px;
    font-style: italic;
}
.moeda{
	position: relative;
	top: -40px;
	clear: both;
	float: right;
}
.hab{
	text-align: center;
}
.dest{
	font-size: 30px;
	color: red;
}
.armamento1{
    margin-top: 80px; 
}
.armas{
    position: relative;
    width: 360px;
    height: 210px;
    margin: auto;
}
.armasTitulo{
    margin: auto;
    width: 360px;
}
.besta{
    position: relative;
    top: 50px;
}
.armabnt{
    margin-top: 50px;
}
.armascorporais{
    margin-left: 80px;
}
/* CAD3 */
.Machadinha{
    position: relative;
    top: -470px;
    right: 725px;
}
.MachadodeBatalha{
    position: relative;
    top: -430px;
    right: 680px;
}
.MachadoPesado{
    position: relative;
    top: -390px;
    right: 625px;
}
.Glaive{
    position: relative;
    top: -330px;
    left: 225px;
}
.Alabarda{
    position: relative;
    top: -300px;
    left: 270px;
}
.Adaga{
    position: relative;
    top: -365px;
    left: -30px;
}
.EspadaCurta{
    position: relative;
    top: -302px;
    left: -50px;
}
.Rapiera{
    position: relative;
    top: -255px;
    left: -20px;
}
.Sabre{
    position: relative;
    top: -205px;
    left: -30px;
}
.EspadaLonga{
    position: relative;
    top: -150px;
    left: -45px;
}
.Cimitarra{
    position: relative;
    top: -85px;
    left: -50px;
}
.Claymore{
    position: relative;
    top: -30px;
    left: -80px;
}
.Bordão{
    position: relative;
    top: -520px;
    left: 300px;
}
.Soqueira{
    position: relative;
    top: -470px;
    left: 240px;
}
.Bico-de-Corvo{
    position: relative;
    top: -415px;
    left: 180px;
}
.MaçaEstrela{
    position: relative;
    top: -370px;
    left: 165px;
}
.MaçaLeve{
    position: relative;
    top: -325px;
    left: 150px;
}
.MaçaPesada{
    position: relative;
    top: -280px;
    left: 130px;
}
.Clava{
    position: relative;
    top: -220px;
    left: 200px;
}
.Mangual{
    position: relative;
    top: -148px;
    left: 140px;
}
.MartelodeGuerra{
    position: relative;
    top: -100px;
    left: 150px;
}
.Marreta{
    position: relative;
    top: -30px;
    left: 155px;
}
.Azagaia{
    position: relative;
    top: -370px;
    left: 155px;
}
.Lança{
    position: relative;
    top: -290px;
    left: 180px;
}
.Tridente{
    position: relative;
    top: -250px;
    left: 215px;
}
.MarteloLucerno{
    position: relative;
    top: -200px;
    left: 240px;
}
/* FIM CAD3 */
.nota{
    font-size: 10px;
    font-style: italic;
}
.descricao{
    font-family: 'Architects Daughter', cursive;
    font-style: italic;
    font-size: 14px;
    border-radius: 5px;
    width: 80%;
    margin: auto;
}
.dist{
    margin: 10px 100px;
}
/* cad4 */
.BestaPesada{
    position: relative;
    top: -675px;
    left: -500px;
}
.BestaLeve{
    position: relative;
    top: -530px;
    left: -650px;
}
.Prodd{
    position: relative;
    top: -730px;
    left: 462px;
}
.ViroteComum{
    position: relative;
    top: -660px;
    left: 342px;
}
.ViroteGarateia{
    position: relative;
    top: -580px;
    left: 300px;
}
.Zarabatana{
    position: relative;
    top: -525px;
    left: 352px;
}
.Balas{
    position: relative;
    top: -470px;
    left: 435px;
}
.Funda{
    position: relative;
    top: -380px;
    left: 455px;
}
.Fustíbalo{
    position: relative;
    top: -485px;
    left: 525px;
}
.ArcoRecurvo{
    position: relative;
    top: -235px;
    left: -20px;
}
.ArcoComposto{
    position: relative;
    top: -205px;
    left: 70px;
}
.ArcoSimples{
    position: relative;
    top: -190px;
    left: 160px;
}
.ArcodeGuerra{
    position: relative;
    top: -55px;
    left: 240px;
}
.Plumbata{
    position: relative;
    top: -55px;
    left: 290px;
}
.FlechaComum{
    position: relative;
    top: -100px;
    left: 30px;
}
.FlechaGarateia{
    position: relative;
    top: -50px;
    left: 60px;
}
/* fim cad4 */
/* Cad5 */
.ArmaduraSimples{
    position: relative;
    top: -510px;
    left: 180px;
}
.ArmaduradeBatalha{
    position: relative;
    top: -510px;
    left: 430px;
}
.ArmaduraCompleta{
    position: relative;
    top: -510px;
    left: 580px;
}
.TúnicaPesada{
    position: relative;
    top: -50px;
    left: 130px;
}
.EscudodeCorpo{
    position: relative;
    top: -110px;
    left: 255px;
}
.EscudoMédio{
    position: relative;
    top: -275px;
    left: 350px;
}
.EscudoPequeno{
    position: relative;
    top: -80px;
    left: 360px;
}
.ArmaduradeCouro{
    position: relative;
    top: -70px;
    left: 530px;
}
/* fim CAD5 */
.conj{
    margin: 20px 0;
    float: left;
}
.conj2{
    margin: 160px 0;
    float: left;
}
/* CAD6 */
.Grimório{
    position: relative;
    top: 190px;
    right: 760px;
}
.Cajado{
    position: relative;
    top: 315px;
    right: 650px;
}
.Cajado_{
    position: relative;
    top: 250px;
    right: 675px;
}
.Cetro{
    position: relative;
    top: 385px;
    right: 500px;
}
.Cetro_{
    position: relative;
    top: 310px;
    right: 520px;
}
.Missal{
    position: relative;
    top: 210px;
    right: 500px;
}
.Varinha{
    position: relative;
    top: 120px;
    right: 275px;
}
.OrbedeCristal{
    position: relative;
    top: 290px;
    right: 345px;
}
.SímboloSagrado{
    position: relative;
    top: 290px;
    right: 160px;
}
.Punhal{
    position: relative;
    top: 400px;
    right: 170px;
}
.Punhal_{
    position: relative;
    top: 362px;
    right: 220px;
}
.tipo{
    font-size: 10px;
    margin-left: 18px;
    color: red;
}
.conclui{
    margin-left: 150px;
}
.sombra{
    box-shadow: 4px 4px 4px gray;
}
.equiTitulo{
    width: 400px;
    font-family: 'Architects Daughter', cursive;
    font-size: 25px;
    margin: 0 32px;
    text-align: center;  
}
.armadura1{
}
.armadura1 .foto{
}
.equi2{
    font-size: 10px;
    margin-left: 20px;
}
.equi2 th{
    background-color: green;
    color: white;
}
.nomesArma{
    font-weight: 900;
    color: red;
}
.halflingFundo{
    width: 800px;
    height: 900px;
    margin: auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background-image: url('../imagens/personagens/halfling/halflingFundo.png');
    background-repeat: no-repeat;
    border: 1px solid white;
}
.humanoFundo{
    width: 800px;
    height: 980px;
    margin: auto;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    background-image: url('../imagens/personagens/humano/humanoFundo.png');
    background-repeat: no-repeat;
    border: 1px solid white;
}
.halfling1{
    position: absolute;
    top: 345px;
    left: 165px
}
.halfling2{
    position: absolute;
    top: 405px;
    left: 375px
}
.halfling3{
    position: absolute;
    top: 375px;
    left: 575px
}
.halfling4{
    position: absolute;
    top: 415px;
    left: 775px
}
.halfling5{
    position: absolute;
    top: 565px;
    left: 235px
}
.halfling6{
    position: absolute;
    top: 765px;
    left: 425px
}
.halfling7{
    position: absolute;
    top: 605px;
    left: 555px
}
.halfling8{
    position: absolute;
    top: 675px;
    left: 755px
}
.halfling9{
    position: absolute;
    top: 875px;
    left: 305px
}
.halfling10{
    position: absolute;
    top: 875px;
    left: 595px
}
.humano11{
    position: absolute;
    top: 315px;
    left: 215px
}
.humano12{
    position: absolute;
    top: 265px;
    left: 405px
}
.humano13{
    position: absolute;
    top: 255px;
    left: 578px
}
.humano14{
    position: absolute;
    top: 265px;
    left: 738px
}
.humano15{
    position: absolute;
    top: 490px;
    left: 278px
}
.humano16{
    position: absolute;
    top: 440px;
    left: 438px
}
.humano17{
    position: absolute;
    top: 440px;
    left: 628px
}
.humano18{
    position: absolute;
    top: 430px;
    left: 718px
}
.humano19{
    position: absolute;
    top: 670px;
    left: 118px
}
.humano20{
    position: absolute;
    top: 680px;
    left: 418px
}
.humano21{
    position: absolute;
    top: 928px;
    left: 595px
}
.humano22{
    position: absolute;
    top: 758px;
    left: 840px
}
.racaAvatar{
    position: relative;
    top: -395px;
    left: 310px;
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: red;
    text-shadow: 0 2px 0 black;
}
.racaAvatar-red:active{
    position: relative;
    top: -390px;
    left: 310px;
    box-shadow: none;
    text-shadow: none;
}
.racaAvatar-red{
}
.missao{
    font-style: italic;
    font-family: 'Architects Daughter', cursive;
    color: red;
}
.atributoMissao{
    float: right;
    margin-right: 100px;
}
.bntMenos{
    position: relative;
    top:  -90px;
    right: -290px;
}
.bntMenos .segundo{
    margin-top: 15px;
}
.quadro{
    margin: 30px auto;
    width: 400px;
    height: 100px;
    text-align: center;
    background: rgba(0,0,0,0.5);
    color: white;
    border-radius: 5px;
    font-size: 30px;
    border: 1px solid gray; 
}
#anotacao{
    #border: 1px solid red;
    border-radius: 10px;
    background: rgba(255,255,0,0.5);
    color: black;
    text-shadow: -1px -1px white, 1px 1px #333;
    font-size: 13px;
    padding: 2px 6px 0 ;
    text-align: right;
    cursor: pointer;
}
.anotacao2{
    position: absolute;
    #border: 1px solid red;
    top: 120px;
    right: 0;
    width: 200px;
    height: 250px;
    z-index: 7px; 
}