#cabecalho{  
    width: 95%; 
    margin: 0 20px;
}
#rodape{
      width: 100%; 
      #position: relative; 
      height: 58px; 
      #bottom: auto; 
      #top: 1050px;
      background-color: darkslategrey;
      padding: 10px 5px;
      color: white;
      margin: auto;
      text-align: center;
  }
.titulo{
    float: left;
    font-size: 28px;
    clear: left;
    #color: white;
}
.cor_1{
    color: red;
    font-size: 30px;
}
.menu{
    float: right;
    #font-size: 250px;
    #position: relative;
    #margin-top: -4px;
    #border: 1px solid red;
    height: 40px;
}
.tempo{
    float: right;
    color: yellow;
    #border: 1px solid yellow;
    overflow: hidden;
}
.bnt{
    font-size: 16px;
    cursor: pointer;
    font-family: arial;
    font-weight: 700;
    text-transform: uppercase;
    #border: none;
    padding: 1px;
    border-radius: 5px;
}
a:link{
    text-decoration: none;
}
.conteudo{
    #margin-left: 5px;
    font-family: sans-serif;
    height: 680px;
    font-size: 18px;
    width: 970px;
    #border: solid 1px red;
    margin: auto;
    #overflow: auto;
}
ul li{
    display: inline;
}
.resultado{
    font-size: 30px;
    color: maroon;
}
.ref{
    margin-left: 510px;
}
.l1{
    position: relative;
    top: 10px;
}
.SITE_ROOT {
  min-height: 100%;
  position: relative;
  margin: 0 auto; 
  width:980px;
  padding-bottom:40px;
}
.s6{
    left: 20px; 
    width: 940px; 
    position: absolute; 
    top: 164px; 
    height: 5px;
}
body{
    margin: 0;
    padding: 0;
    background-image: url('../imagens/Wiki-background.jpg');
    background-repeat: no-repeat;
    #background-position-x: 50%;
    #background-position-y: 25%;
    background-size: 100%;
    #color: white;
    #backface-visibility: hidden;
    #background-color: black;
}
/* aplica somente a partir de 320px */
/*@media screen and (min-width: 320px) {
   body { #font-size: 80%; }
}
 
/* aplica somente a partir de 480px em landscape */
/*@media screen and (min-width: 480px) and (orientation: landscape) {
   nav { #float: left; }
}*/
.rel{
    float: left;
    width: 470px;
    #margin: -20px 5px 0;
    #border: 1px solid green;
}
.rel th, .resumo th{
    background-color: green;
    color: white;
}
.rel td, .resumo td{
    background-color: white;
    opacity: 0.7;
    font-weight: bolder;
    font-size: 13px;
}
.resumo{
    float: right;
    width: 450px;
    margin: auto;
    #margin-left: 0;
    #border: 1px solid red;
}
.separa{
    background-color: blue;
}
.totais{
    background-color: darkgray;
}
    @media print {
  body * {
    visibility: hidden;
  }
  #printable, #printable * {
    visibility: visible;
  }
  #printable {
    position: absolute;
    #margin: auto;
    left: 30%;
    top: 30%;
  }
}
.texto{
    margin: 0 40px;
}
.lista{
    width: 700px;
    margin: auto;
    #height: 835px;
    overflow: auto;
    #background-color: white;
    #opacity: 0.8; 
    #border: 1px solid black;
}
.lista table{
    margin: 10px 30px;
}
.lista table, .lista table td {
   #background-color: cornsilk; 
}
.disabled {
   pointer-events: none;
   cursor: default;
}
.lista table .divisao{
    #background-color: wheat;
}
fieldset{
    border: 2px solid white;    
    background:rgba(255,255,255, 0.8);
    font-weight: bolder;
    height: 360px;
    width: 750px;
}
fieldset legend{
    font-size: 30px;
    color: brown;
}
.raca{
    float: right;
    margin-right: 15px;
}
.texto{
    position: absolute;
    top: 350px;
    width: 450px;
    height: 100px;
    overflow: auto;
    #border: 5px solid green;
    #background-color: silver;
    text-justify: auto;
}
.botao{
    position: absolute;
    top: 480px;
    right: 80px;
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
.botao2{
    position: absolute;
    top: 480px;
    right: 160px;
    font-family: arial;
    font-weight: 700;
    border: none;
    cursor: pointer;
    border-radius: 15px;
}
.botao-verde{
    font-size: 16px;
    paddin: 2px;
    background-color: #006000;
    color: white;
    box-shadow: 0 5px 0 #003f00;
    border-radius: 15px;
}
.botao-verde2{
    font-size: 16px;
    paddin: 2px;
    background-color: #006000;
    color: white;
    box-shadow: 0 5px 0 #003f00;
    border-radius: 15px;
}
.botao-verde:hover{
    background-color: #006000;
    color: white;
}
.botao-verde:active{
    font-size: 16px;
    paddin: 2px;
    background-color: #006000;
    color: white;   
    position: absolute;
    top: 485px;
    right: 160px;
    box-shadow: none;
}
.botao-verde2:active{
    font-size: 16px;
    paddin: 2px;
    background-color: #006000;
    color: white;   
    position: absolute;
    top: 485px;
    right: 80px;
    box-shadow: none;
}
.rolar{
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-family: arial;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    background-color: red;
    color: white;
}
.rolar-red{
    box-shadow: 0 5px 0 #bd0000;
}
.rolar:hover{
    background-color: #bd0000;
}
.rolar-red:active{
    position: relative;
    top: 5px;
    box-shadow: none;
}
.t_dado{
    font-size: 20px;
    text-shadow: 2px 2px 2px white;
    color: red;
}
#cadastro table tr td{
    padding: 2px;
}
.cad{
    margin: 50px auto;
    width: 680px;
    #border: 1px solid red;
}
.info{
    position: absolute;
    font-size: 12px;
    font-style: italic;
    color: red;
}
.paginacao{
    float: right;
    #border: 1px solid red;
    #width: 200px;
    text-align: center;
}
.dado6{
    margin-top: 20px;
    barder: 1px solid red;
}
.resultado{
    width: 200px;
    #border: 1px solid blue;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 180px;
    background:rgba(0,0,0, 0.3);
    color: white;
    text-shadow: 2px 2px 2px red;
}
.home h1{
    color: red;
}
.home{
    margin: 100px; auto;
    width: 800px;
    text-align: justify;
    background: rgba(0, 0, 0,0.5);
    color: white;
    padding: 5px;
    height: 680px;
    overflow: auto;
}
.home h1{
    text-align: center;
}
.home p { 
    text-indent: 50px;
    padding: 0px;
    width: 90%;
    margin: auto;
}
.nomes{
    background-color: gray;
    color: white;
    font-family: Georgia;
}
.nomes2{
    text-align: center;
    font-family: courier;
    #color: silver;
}
.fichaTitulo{
    font-family: Times New Roman;
    font-size: 25px;
}
.destaque{
    font-size: 22px;
    color: red;
}
.ficha{
    width: 700px;
    margin: auto;
    height: 600px;
    #overflow: auto;
    #background-color: white;
    #opacity: 0.8; 
    #border: 1px solid black;
}
.ficha table{
    margin: 10px 30px;
}
.historia{
    font-family: Times New Roman;
    font-size: 25px;
    margin: 20px;
    clear: both;
    float: right;
}
.hTitulo{
    float: right;
    font-family: courier;
    font-size: 22px;
}
.hTexto{ 
    clear: both;
    float: right;  
    width: 300px;
    height: 200px;
    overflow: auto;
    #text-align: justify;
    font-family: courier;
    font-size: 12px;
    text-indent: 30px;   
}
.vantagens, .desvantagens{
    font-family: Times New Roman;
    font-size: 25px;
    width: 250px;
    margin: 0 32px;
    text-align: center;
}
.linhas{
    padding: 5px;
}