.tempo{
    color: black;
}
.fases{
    background: rgba(0,0,0,0.2);
    width: 28px;
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 5px;
}
.temperatura{
    margin-top: 5px;
    font-family: cursive;
    font-weight: 900;
    font-size: 13px;
    #width: 2030px;
    padding: 0 5px 2px 0;
    #height: 40px;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
}
.seta{
    font-size: 17px;
    color: blue;
}
.sinc{
    font-size: 10px;
}
.bntTempo{
    border: none;
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 8px;
    margin-top: 20px;
}
.recua:active, .segue:active, .avanca:active{
    position: relative;
    top: 7px;
}